<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Welcome to TacoCloud...</h1>
    <img th:src="@{/images/mexican-8147497_1280.webp}" alt="An image of a taco" width="300" height="200">
    <blockquote cite="https://www.twistedtaco.com/the-history-of-the-taco#:~:text=The%20Name%20“Taco”%3A%20A,working%20class%2C%20which%20included%20miners.">
        <b>The word "taco" is quite new.</b>
        It originated from Mexican silver miners in the 18 th century.
        Gunpowder was wrapped in a paper like a <strong>“taquito”</strong> and inserted into rocks before detonation.
        By this time, tacos were known as the food of the working class, which included miners.
        This resulted in their portable street food being called <strong>“tacos de minero“</strong>, also known as <strong>“miner’s tacos”</strong>.
        The tortilla in these miner’s tacos wasn’t a hard U-shaped shell like we know today.
        Instead, it was a corn tortilla with a spicy filling.
        This daily staple was filling, delicious, and affordable.
    </blockquote>
</body>
</html>