<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Products</h1>
    <h2>Product List</h2>

    <table border="1px">
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
        <tr th:each="p:${list}">
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
    </table>
    <h2>Add products : </h2>
    <form method="post">
        Name : <input type="text" name="name"><br>
        Price : <input type="number" name="price"><br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>