/* Styles for the login page */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 5px;
}
label {

    color: white;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
