<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>

    <button type="submit" onclick="getData()">Get Data</button><br>
    <span id="response_data"></span>
    <script>
        async function getData(){
            let response = await fetch('/data');
            let data = await response.json();
            document.getElementById('response_data').innerText  = data.name;
        }
    </script>
</body>
</html>